* {
  margin: 0;
  padding: 0;
  border: 0;
}

h1 {
  text-align: center;
  font-size: 500%;
  color: red;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 1%;
  margin: 15% 0;
}
h2 {
  height: 500px;
  text-align: center;
  font-size: 275%;
  color: #E5E5E5;
  text-transform: uppercase;
  letter-spacing: 1%;
}


/*<----PARALLAX START---->*/

.parallax {
  width: 100%;
  margin-top: 200px;
  background: url("./imgs/MARVEL.jpg")no-repeat fixed 100%;
  /*-webkit-backgrount-top: 100px;
  -webkit-background-size: cover;
  -moz-background-size: cover;*/
  background-size: cover;
}

/*<----PARALLAX END---->*/
